@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}


    /* About */

    .git-about{
      width: 400px;
      height: auto;
      margin-top: 20px;
    }

    .about-page .container{
      width: auto;
      height: auto;
  }

  .gif-about img{
      width: 400px;
      height: auto;
      top: 10px;
      float: left;
      margin-left: 20px;
      margin-top: 20px;
  }

  .outer-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 90px;
      padding: 10px;
      width: 800px;
      height: auto;
    }

    .container-about {
      margin-top: 20px;
      text-align: left;
      max-width: 90%;
      padding: 20px;
      border-radius: 10px
    }

    .title-about {
      text-align: center;
      text-align: justify;
      animation: fadeIn 3s ease-in-out forwards;
    }
    @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }

    .title-about h1 {
      font-size: 40px;
    }

    .title-about p {
      font-size: 20px;
    }
